<% include ../../partials/header %>

<h1>EDIT CONTAINER</h1>
<% if(currentUser && character.player.equals(currentUser._id) || currentUser && currentUser.isAdmin || currentUser && currentUser.isSU) { %>
    <form action="/<%= currentUser._id %>/character/<%= character._id %>/container/<%= container._id %>?_method=PUT" method="POST">
        <div class="form-row">
            <div class="form-group col">
                <h5>Name</h5>
                <input type="text" name="container[name]" value="<%= container.name %>" required>
                <h5>Weight</h5>
                <input type="number" name="container[weight]" min=".01" step=".01" value="<%= container.weight %>" required>
                <h5>Value</h5>
                <input type="range" name="container[value]" value="<%= container.value %>" required>
                <h5>Carry Capacity</h5>
                <input type="number" name="container[carryCap]" value="<%= container.carryCap %>" required>
            </div>
            <div class="col">
                <h5>container Rarity:</h5>
                <div class="form-group">
                    <select name="container[rarity]" required>
                        <option selected="selected">Common</option>
                        <option>Uncommon</option>
                        <option>Rare</option>
                        <option>Very Rare</option>
                        <option>Legendary</option>
                    </select>
                </div>
                <h5>Is this container magical?</h5>
                <div class="form-group">
                    <label for="magical-yes">Yes</label>
                    <input id="magical-yes" type="radio" name="container[isMagical]" value="true">
                    <label for="magical-no">No</label>
                    <input id="magical-no" type="radio" name="container[isMagical]" value="false" checked>
                </div>
            </div>
        </div>
        <button class="btn btn-success">Submit</button>
    </form>
<% } %>

<a class="btn btn-secondary"  href="/<%= currentUser._id %>/character/<%= character._id %>">Back</a>


<% include ../../partials/footer %>